header {
  background-color: rgba(0, 0, 0, 0.33);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

header > a > h1 {
  font-size: xx-large !important;
}

a {
  color: #fff !important;
  transition: all 0.25s cubic-bezier(0, 0, 0, 1);
}

a:hover {
  color: bisque !important;
}
